.buttons-print {
    background-color: maroon;
    color: white;
  }
  .buttons-excel {
    background-color: maroon;
    color: white;
  }

.page-link {
  z-index: 3;
  color: #fff;
  background-color: maroon;
  border-color: maroon;
}